<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Edit page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
`<div class="container">
<!--    <h1>Список пользователей</h1>-->
    <h4>Редактировать товар</h4>
    <form th:action="@{'/goods/edit'}" th:object="${goods}" method="post">
        <input th:field="*{id}" hidden class="form-control form-control-sm" name="id">
        <div class="form-group">
            <label>GoodsName</label>
            <input th:field="*{goodsName}" class="form-control form-control-sm" name="goodsName">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input th:field="*{price}" class="form-control form-control-sm" name="price">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>